.user{
   
    background: lightyellow;
}
.users{
    display: flex;
    justify-content: space-between;
    background: lightyellow;
    margin-top: 10px;
}

.img_1{
    width: 100px;
    height: 80px;
    border-radius: 50%;

}
.users_information{
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    background: lightgreen; 
    border-radius: 20px; 
}
.users_name{
    display: flex;
    flex-direction: column;
}
.users_locatin{
    display: flex;
    flex-direction: column;
}
.selectedPage{
    font-weight: bold;
}
.span{
    width: 1030px;
    display: flex;
    flex-wrap: wrap;
}
span{
    border: 1px solid black;
    margin-left: 5px;
}

 