
  .user{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 20px;
}
.text{
    padding: 100px 50px 0px;
}
.post{
  margin-left: 20px;  
}
.person{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}