.app-wrapper{
  display: grid;
  grid-template-areas: 
  "header header"
  "sidebar container"
  "footer footer";
  grid-template-rows: 100px 1fr 60px;
  grid-template-columns: 200px 1fr;
  grid-gap: 10px;
}
.app-wrapper-container{
  grid-area: container;
  background: green;
};




